<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= task.desc %>
  </p>

  <p>
    <strong>Durationfrom:</strong>
    <%= task.durationFrom %>
  </p>

  <p>
    <strong>Durationto:</strong>
    <%= task.durationTo %>
  </p>

  <p>
    <strong>Duedate:</strong>
    <%= task.dueDate %>
  </p>

  <p>
    <strong>Urgency:</strong>
    <%= task.urgency %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= task.calendar %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
